<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h2>Your booking for <%= @item.title %></h2>

      <%= render 'form', booking: @booking %>
    </div>
  </div>
</div>
