<div class="container">
  <h1>Edit a item to rent</h1>

  <%= render 'form', item: @item %>

  <div class="bottom-links">
  <%= link_to 'Show', @item %>
  </div>
  <div class="bottom-links">
  <%= link_to 'Back', items_path %>
  </div>
</div>
