<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h3>What are you going to rent next?</h3>

      <% if @item.errors.any? %>
        <ul>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= render 'form', item: @item %>

    </div>
  </div>
</div>
