<div class="container">
  <h1>Create a new item for renting</h1>

  <% if @item.errors.any? %>
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= render 'form', item: @item %>

  <%= link_to 'Back', items_path %>
</div>
