.card {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 275px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin-bottom: 10px;

}

.card-image{
  position: relative;
  height: 175px;
  background-size: cover !important;
  background-position: center;
}
.card-user {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-description {
  position: relative;
  background-color: white;
  height: 90px;
  color: black;
  display: flex;
}

.card-info{
  position: absolute;
  left: 10px;
  flex: 1 0 auto;
  line-height: 40%;
}
.card-category {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  flex: 0 0 40px;
}
.card-description h2 {
  font-size: 16px;
  margin-top: 15px !important;
}
.card-description p {
  font-size: 12px;
  opacity: 0.9;
  font-weight: regular;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
